<h1>Chat app</h1>

<input
  class="input"
  type="text"
  name="chatbox"
  id="chat-box"
  placeholder="escribe lo que quieras"
  value=""
/>

<div id="div-msgs"></div>

{{! estos scripts activan el socket }}
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/index.js"></script>